@charset "UTF-8";
/**
 * 为防止压缩打包时出错，请CSSer留意一下: 不要使用单引号
 */

/* = 频道 = */
.qr_link {padding-top: 10px; padding-bottom: 5px; }
.qr_link li:nth-child(1) span {background-color: #FF6864; }
.qr_link li:nth-child(2) span {background-color: #85D334; }
.qr_link li:nth-child(3) span {background-color: #00DBF2; }
.qr_link li:nth-child(4) span {background-color: #FFBC17; }
.qr_link li:nth-child(5) span {background-color: #af60d0; }
.qr_link li:nth-child(6) span {background-color: #fe784b; }
.qr_link li:nth-child(7) span {background-color: #1bce8d; }
.qr_link li:nth-child(8) span {background-color: #4692f9; }
.qr_link span {position: relative; display: block; width: 45px; height: 45px; white-space: nowrap; margin: 0 auto 4px; border-radius: 50%; overflow: hidden;
    -webkit-animation: iroll 1s cubic-bezier(0, 0.57, 0.56, 1.49) backwards; animation: iroll 1s cubic-bezier(0, 0.57, 0.56, 1.49) backwards; }
.qr_link li:nth-child(1) span:before {width: 25px; height: 16px; }
.qr_link li:nth-child(2) span:before {width: 38px; height: 21px; background-position: -46.5px 0; }
.qr_link li:nth-child(3) span:before {width: 29px; height: 17px; background-position: -86px 2px; }
.qr_link li:nth-child(4) span:before {width: 16px; height: 12px; background-position: -30px 0; }
.qr_link li:nth-child(5) span:before {width: 24px; height: 28px; background-position: 1px -55px; }
.qr_link li:nth-child(6) span:before {width: 20px; height: 11px; background-position: -30px -55px; }
.qr_link li:nth-child(7) span:before {width: 26px; height: 20px; background-position: -56px -55px; }
.qr_link li:nth-child(8) span:before {width: 25px; height: 16px; background-position: -87px -55px; }
.qr_link li.J_linkBVer span {-webkit-animation-name: iroll-back; animation-name: iroll-back; }
.qr_link li.active span {animation: roll 3s linear infinite; }
.qr_link span:before {content: ""; position: absolute; left: 50%; bottom: 0; border-radius: 0 0 50% 50%; background: url(http://pic.c-ctrip.com/h5/tuan/i_shadow.png) 0 0 / 118px 85px no-repeat; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.qr_link b {position: relative; display: block; margin: 0 auto 4px; }
@-webkit-keyframes iroll {
    0% {-webkit-transform: translateX(-320px) rotate(0); }
    100% {-webkit-transform: translateX(0) rotate(720deg); }
}
@keyframes iroll {
    0% {transform: translateX(-320px) rotate(0); }
    100% {transform: translateX(0) rotate(720deg); }
}
@-webkit-keyframes iroll-back {
    0% {-webkit-transform: translateX(320px) rotate(0); }
    100% {-webkit-transform: translateX(0) rotate(-720deg); }
}
@keyframes iroll-back {
    0% {transform: translateX(320px) rotate(0); }
    100% {transform: translateX(0) rotate(-720deg); }
}

/* = 首页头部banner = */
.index_banner {position: relative; overflow: hidden; -webkit-animation: bannerDown .8s ease-in-out; animation: bannerDown .8s ease-in-out; }
.index_banner ul { height:auto !important; }
.index_banner img {display: block; width: 100%; }
.index_banner p {position: absolute; right: 8px; bottom: 5px; font-size: 0; }
.index_banner p a {display: inline-block; width: 6px; height: 6px; border-radius: 50%; margin: 0 5px; background-color: rgba(255,255,255,.4); }
.index_banner p .cur {background-color: #fff; }
.stage {overflow: hidden; }
.stage li {float: left; }
@-webkit-keyframes bannerDown {
    from {-webkit-transform: translateY(-100%); transform: translateY(-100%); }
    to {-webkit-transform: translateY(0); transform: translateY(0); }
}
@keyframes bannerDown {
    from {-webkit-transform: translateY(-100%); transform: translateY(-100%); }
    to {-webkit-transform: translateY(0); transform: translateY(0); }
}

/* = 首页频道 = */
.cm-header .gp-index-tab {line-height: 27px; margin: 9px 0 0; }
.cm-header .gp-index-tab span {width: 63px; color: #c9edfe; background-color: #0076AD; }
.cm-header .gp-index-tab span.active {color: #fff; background-color: #099FDE; }
.recomm_loading, .recomm_loading:before {display: inline-block; width: 38px; height: 38px; background: url(http://pic.c-ctrip.com/h5/tuan/loading.png) no-repeat 0 0; background-size: 76px 38px; }
.recomm_loading {vertical-align: middle; background-position: -38px 0; }
.recomm_loading:before {content: ""; vertical-align: top;  -webkit-animation: roll 1s linear infinite; animation: roll 1s linear infinite; }
.recomm_ad_v65 {margin-bottom: 10px; }
.recomm_ad_v65 li:nth-child(2n) {border-left: 1px solid #efefef; margin-left: -1px; }
.recomm_ad_v65 img, .recomm_ad_v65 .recomm_loading {position: absolute; right: 25%; top: 50%; -webkit-transform: translate(50%,-50%); transform: translate(50%,-50%); }
.recomm_ad_v65 ul {position: relative; overflow: hidden; border-bottom: 1px solid #efefef; }
.recomm_ad_v65 li {position: relative; float: left; width: 50%; height: 73px; line-height: 1.2; border-top: 1px solid #efefef; background-color: #fff; }
.recomm_ad_v65 li:nth-child(2n) {border-left: 1px solid #efefef; margin-left: -1px; }
.recomm_ad_v65 img, .recomm_ad_v65 .recomm_loading {position: absolute; right: 25%; top: 50%; -webkit-transform: translate(50%,-50%); transform: translate(50%,-50%); }
.recomm_ad_v65 img {display: none; width: 61px; height: 61px; }
.recomm_ad_v65 .recomm_tit {position: absolute; width: 72px; top: 50%; left: 25%; color: #253342; font-size: 15px; margin-top: -16px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -webkit-transform: translateX(-40%); transform: translateX(-40%); }
.recomm_ad_v65 .recomm_subtit {display: block; max-width: 6em; font-size: 11px; color: #C0C0C0; overflow: hidden; margin-top: 4px; }
@-webkit-keyframes index_icon { 0% {-webkit-transform: scale(0); transform: scale(0); } 70% {-webkit-transform: scale(1.2); transform: scale(1.2); } 100% {-webkit-transform: scale(1); transform: scale(1); } }
@keyframes index_icon { 0% {-webkit-transform: scale(0); transform: scale(0); } 70% {-webkit-transform: scale(1.2); transform: scale(1.2); } 100% {-webkit-transform: scale(1); transform: scale(1); } }


.grogshop-pick{ border-bottom:1px solid #e8e8e8; background-color: #fff; padding:0 80px 0 0; position: relative; margin:-1px 0 5px;overflow: hidden;}
.grogshop-search{ border-right:1px solid #e8e8e8; overflow: hidden; padding: 10px 25px 9px 45px; margin-right: 5px; }
.grogshop-pick .grogshop-btn{ position: absolute; right:0; top:0; width: 85px; text-align: center; background-color: #e6f0f7; color: #039cdd; padding:9px 0; line-height: 16px; }

/* 11.11修改 */
.quick-pick {font-size: 14px; color: #253342; padding: 5px; }
.grogshop-search:first-child:before {content: ""; position: absolute; left: 18px; top: 17px; width: 19px; height: 20px; background-position: -244px -60px; background-size: 288px auto;}
.grogshop-search:active {background-color: #f5f5f5; }
.grogshop-search span {float: right; font-size: 14px; padding-top: 5px; color: #666}
.grogshop-search .sub-bar {float: left; line-height: 15px; color: #333; font-size: 14px; margin-right: 10px; padding-top: 1px;}
.grogshop-search .sub-bar span {padding:0 5px 0 0; line-height: 15px; float: left; font-size: 12px;}
.grogshop-search .qp-bar.nodate {color: #A7A6A6; }
.grogshop-search span em{ color: #333}

.grogshop-link{ margin:0 0 10px;border-top:1px solid #e8e8e8;}
.grogshop-link .qr_link{ padding-bottom: 0;}


/* 圣诞主题 */
.christmas-link { overflow: hidden; background-color: #fff; padding-top: 10px; padding-bottom: 0;}
.christmas-link li{ float: left; width: 25%; text-align: center; padding-bottom: 10px; font-size: 12px;}
.christmas-link li span{ width: 46px; height:44px; display: inline-block; background: url(http://pic.c-ctrip.com/h5/tuan/christmas.png) no-repeat; background-size:285px auto; -webkit-animation: index_icon .6s ease-out backwards; animation: index_icon .6s ease-out backwards; }
.christmas-link li span.ico_travel { background-position: -80px 0;}
.christmas-link li span.ico_attractions { background-position:-160px 0;}
.christmas-link li span.ico_dining { background-position: -240px 0;}
.christmas-link li span.ico_recreation {background-position: 0 -75px;}
.christmas-link li span.ico_bnb {background-position: -80px -75px;}
.christmas-link li span.ico_room {background-position: -160px -76px;}
.christmas-link li span.ico_nearby {background-position: -240px -76px;}


/* 6.13 2016-1-12 */
.grogshop-search-box{ background-color: #fff; border-bottom:1px solid #e8e8e8; margin-bottom:10px; padding:10px;}
.grogshop-search-list li{ overflow: hidden; position: relative;}
.grogshop-search-list li.grogshop-s,.grogshop-bourn{ border-bottom:1px solid #e8e8e8;padding:6px 0 3px 10px;}
.grogshop-search-list li.grogshop-s:active { background-color: #f5f5f5; }
.grogshop-search-list li.location-shop{ padding-right:65px;}
.grogshop-search-list li .arr_r:after,.grogshop-search-list li.arr_r:after{ right:0;}
.grogshop-search-list li .location{ border: 1px solid #26aaf2; padding:7px 0 3px; text-align: center; border-radius: 5px; position: absolute; right:0; top:3px; width: 52px; font-size: 12px; color: #099fde}
.location .location-icon,.news-grogshop-index span{ background:url(http://pic.c-ctrip.com/h5/tuan/sprite613.png) no-repeat; background-size:150px 150px;}
.location .location-icon{ width: 19px; height: 19px; background-position: 0 -81px; display: inline-block; vertical-align: middle;}
.location .name{-webkit-transform:scale(0.95); padding-top: 4px;}
.grogshop-bourn .name{ font-size: 12px; color: #b2b2b2;}
.bourn{ font-size: 19px; color: #253342;}
.grogshop-search-list li .check-date{ float: left; font-size: 12px; color: #b2b2b2; padding-right:30px; }
.grogshop-search-list li .check-date em{ color: #253342; font-size: 17px;}
.grogshop-search-list li .how{ float: right; padding: 20px 30px 0 0; color: #b2b2b2}
.grogshop-search-list li .keyword{ padding:5px 0; font-size: 17px; color: #253342}
.grogshop-search-list li .col-gray{ color: #ccc;}
.grogshop-search-list li.keyword-active{ padding-right: 50px;}
.grogshop-search-list li.keyword-active:after{ right:30px;}
.grogshop-search-list li.keyword-active .shop-close{ width: 25px; position: absolute; right:0; top:50%; margin-top: -8px;}
.grogshop-search-list li.keyword-active .shop-close:after{ width:18px; height: 18px; text-align: center; border-radius: 50%; font-size:20px; line-height: 17px; content:"×"; background-color: #b8b8b8; color: #fff; position: absolute; right:0; top:50%;}
.grogshop-search-list li.keyword-active .keyword{    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.grogshop-search-list li .site{ font-size: 13px;  padding: 5px 0 4px; color: #253342; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.grog-btn{ padding:10px 10px 0;}

.news-grogshop-index { overflow: hidden; background-color: #fff; padding:0 10px 5px 0;margin:5px 0 0 11px;}
.news-grogshop-index ul{ margin-right:-1px;}
.news-grogshop-index li{ float: left; width: 33%;padding: 4px 0; font-size: 13px; border-left:1px solid #e8e8e8; border-top:1px solid #e8e8e8; margin:-1px 0 0 -1px;}

.news-grogshop-index li span{ width: 46px; height:43px; margin-left:10px; display: inline-block; vertical-align: middle; }
.news-grogshop-index li span.ico_travel { background-position: 0 7px;}
.news-grogshop-index li span.ico_attractions { background-position:-58px 7px;}
.news-grogshop-index li span.ico_dining { background-position: -120px 7px;}
.news-grogshop-index li span.ico_recreation {background-position: 0 -37px;}
.news-grogshop-index li span.ico_bnb {background-position: -58px -37px;}
.news-grogshop-index li span.ico_room {background-position: -114px -37px;}
.news-grogshop-index li span.ico_gather {background-position: -30px -71px;}




